@model List<CarDetailsViewModel>
@{
    ViewData["Title"] = "All cars";
}

<h2>All cars</h2>

@foreach (var car in Model)
{
    <div class="row mb-60">
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/@(car.Image).jpg" alt="@car.Make @car.Model" />
        </div>
        <div class="col-md-6">
            <div>@car.Make @car.Model (@car.Year)</div>
            <div><a asp-area="" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Learn More</a></div>
        </div>
    </div>
}
