@model CarDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="~/images/@(Model.Image).jpg" alt="@Model.Make @Model.Model" />
    </div>

    <div class="col-md-6">
        <h2>@Model.Make @Model.Model (@Model.Year)</h2>
        <h3>@Model.PricePerDay BGN / day</h3>

        <form asp-controller="Cars" asp-action="Rent" data-ajax="true" data-ajax-method="POST" data-ajax-success="rentSuccess">
            <input name="CarId" value="@Model.Id" type="hidden" />
            <select name="Days">
                @for (int i = 1; i < 7; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <input type="submit" class="btn btn-primary" value="Rent" />
        </form>
    </div>
</div>

@section scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function rentSuccess(data) {
            window.location = '/Cars/All';
        }
    </script>
}